<div class="content">
  <h1>Home Page</h1>
  <h2>Header 2</h2>
  <h3>Header 3</h3>
</div>

<div class="block">
  <div class="same-line">
    <img src="assets/img/ProfilePictureBW.png" alt="Grace's Headshot" width="500">
  </div>
  <div class="same-line">
    <h1>About Me</h1>
    <p>My name is Grace Ohlsen. I am a sophomore at the University of Colorado - Boulder. 
      I'm currently pursuing a Bachelor's of Arts in both computer science and economics.
      My career interests lie in web development and data science. 
    </p>
  </div>
</div>

  